<h1>Superbe carte</h1>


<div id="map" style="width:1200px;height:555px"></div>

<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB-jN7U4gF53B_YUVx4yuRXlZF9WM6zFlE&callback=initMap"></script>
<script>
    function initMap() {
        //console.log('test');
        var mapCenter = {lat: @Model.StationList[0].Latitude, lng: @Model.StationList[0].Longitude};
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 8,
            center:mapCenter
        });

        @foreach (var station in Model.StationList){
            <text>
                var marker = new google.maps.Marker({
                    position: {
                        lat:@station.Latitude,
                        lng:@station.Longitude
                    },
                    map: map
                });
            </text>
        }
     

    }
</script>
<!-- <script src="https://maps.googleapis.com/maps/api/js?callback=initMap" async defer></script> -->