<h1>Détail de la station : @Model.Name</h1>

@for(var id = 0; id < @Model.BikeCount; id++)
{
    <a class="btn btn-default" asp-controller="Vcub" asp-action="Signaler" asp-route-id="@Model.Id" asp-route-idVelo="@id">
        @id
        <img src="/images/bike.svg"/>
    </a>
}

@for(var i = 0; i < @Model.SlotCount; i++)
{
    <img src="/images/borne.svg"/>
}
