@using bikeMvc.Models
@model bikeMvc.Models.BikeStationModel
<h1>Liste des stations VCUB</h1>

<table class="table">
    <thead>
        <tr>
            <td>Id</td>
            <td>Nom</td>
            <td>Nb vélos</td>
            <td>Nb place(s)</td>
            <td>Disponibilité</td>
            <td>Détail</td>
            <td>Coordonnées GPS</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var station in Model.StationList)
           {
               <tr class="@( @station.IsAvailable ? "": "alert-danger")">
                    <td>@station.Id</td>
                    <td>@station.Name</td>
                    <td>@station.BikeCount</td>
                    <td>@station.SlotCount</td>
                    <td>
                        @if (@station.IsAvailable) {
                            <span class="glyphicon glyphicon-ok"></span>
                        }
                        else {
                            <span class="glyphicon glyphicon-remove"></span>
                         }
                    </td>
                    <td>
                        <a class="btn btn-default" asp-controller="Vcub" asp-action="Detail" asp-route-id="@station.Id">Détail</a>
                    </td>
                    <td>
                        <a class="btn btn-default" target="_blank" href="https://www.google.fr/maps/?q=@station.Latitude,@station.Longitude">
                            Voir sur Gmaps
                        </a>
                    </td>
                </tr>
            }
    </tbody>
</table>