@model SignalerBike

<h1>
    Signaler un problème sur le vélo @Model.IdVelo de la station @Model.station.Name
</h1>


<form asp-controller="Vcub" 
      asp-action="Signaler" 
      asp-route-id="@Model.station.Id" 
      asp-route-idVelo="@Model.IdVelo" method="post">
      
  <div class="form-group">
    <label for="email">Commentaire</label>
    <input type="text" class="form-control" asp-for="commentaire">
    
  </div>
  <div class="checkbox">
    <h3>Type de panne</h3>
    <label>
        <input value="true" type="checkbox" asp-for="roueDefail" />
        Roue crevée/dégonflée
    </label>
    <label>
        <input value="true" type="checkbox" asp-for="pedDefail" />
        Pédalage défaillant
    </label>
    <label>
        <input value="true" type="checkbox" asp-for="freinDefail" />
        Freins non fonctionnels, 
    </label>
    <label>
        <input value="true" type="checkbox" asp-for="selleDefail" />
        Selle impossible à régler
    </label>
  </div>
  <a class="btn btn-default" asp-controller="Vcub" asp-action="Detail" asp-route-id="@Model.station.Id">Retour</a>
  <button type="submit" class="btn btn-primary">Signaler</button>


</form>


<!-- @using (Html.BeginForm("Signaler", "VCub", FormMethod.Post))
{
    <div class="form-group">
        <label for="email">Commentaire</label>
        <input type="text" asp-for="commentaire" class="form-control">
    </div>
 
} -->